<div class="row">
    <!-- Welcome screen -->
    <div class="col-sm-4">
        <!-- ko if: !needName() -->
        <form data-bind="submit: enter">
            <p><input class="name-input" type="text" placeholder="Name" data-bind="textInput: playerName" maxlength="30"/></p>
            <p><button class="btn btn-default" type="submit" data-bind="enable: playerName() && !disableSubmitButton(), text: disableSubmitButton() ? 'Loading...' : 'Enter the arena'">Enter the arena</button></p>
        </form>
        <!-- /ko -->
        <!-- ko if: needName() -->
        <p>Please enter a name to be able to join <span data-bind="text: currentGame()"></span></p>
        <form data-bind="submit: join.bind(null, null, null, currentGame())">
            <p><input class="name-input" type="text" placeholder="Name" data-bind="textInput: playerName" maxlength="30"/></p>
            <p><button class="btn btn-default" type="submit" data-bind="enable: playerName">Join game</button></p>
        </form>
        <!-- /ko -->
        <p><a href="rules.html" target="blank">How to play</a></p>
        <%- include('social-widget') -%>
    </div>
    <div class="col-sm-8">
        <h4><span data-bind="text: showingGlobalRank() ? 'Global ' : 'Personal '"></span>Rankings</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Wins</th>
                    </tr>
                </thead>
                <tbody>
                <!-- ko foreach: rankings() -->
                    <tr data-bind="css: $data.isPlayer ? 'success' : ''">
                        <td data-bind="text: $data.rank"></td>
                        <td data-bind="text: $data.playerName"></td>
                        <td data-bind="text: $data.wins - $data.winsAI"></td>
                    </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
        <!-- ko if: !needName() -->
        <!--<p><a href="" data-bind="click: showRankings, text: rankButtonText"></a></p>-->
        <!-- /ko -->
    </div>
</div>
